header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar {
    width: 100%;
  }
  
  body {
    padding-top: 4rem; /* Juster denne verdien for å gi plass til headeren */
  }
  